<div class="row" style="display: flex;justify-content: center;align-items: center;margin-top:5%;">
  <div class="col-8  col-md-3 col-md-offset-6">
    <!-- <div class="alert alert-danger" *ngIf="error"><p>{{error}}</p></div> -->
    <!-- <app-alert [message]="error" *ngIf="error" (click)="onCloseEvent()"></app-alert> -->
  <ng-tamplete appPlaceholder></ng-tamplete>
    <div *ngIf="isLoading " style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading " >
      <div class="form-group">
        <label for="email">E-Mail </label>
        <input type="email" id="email" class="form-control"
        ngModel
        name="email"
        required
        email
        />
      </div>
      <div class="form-group">
        <label for="password">password </label>
        <input type="password" id="password" class="form-control"
        ngModel
        name="password"
        required
        minlength="6" />
      </div>
      <div class="form-group" style="margin:20px 10px 20px 0;">
        <button class="btn btn-primary" type="submit" [disabled]="! authForm.valid">{{   isloginMode ? 'login': 'Sign Up'}}</button> |
        <button class="btn btn-primary" type="button"(click)=onSwtchingMode()> Swtich to {{ isloginMode ? 'sign up':'login'
          }}</button>
      </div>
    </form>
  </div>
</div>
