<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="clo-sm-5 from-group">
          <label for="name"
            >Name
            <input type="text" class="form-control" id="name" #nameInput />
          </label>
        </div>
        <div class="clo-sm-2 from-group">
          <label for="amount"
            >Amount
            <input
              type="number"
              class="form-control"
              id="amount"
              #amountInput
            />
          </label>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-success"
            (click)="onAdd()">
              Add
            </button>
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="submit" class="btn btn-primary">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
