<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAdd(f)" #f="ngForm">
      <div class="row">
        <div class="clo-sm-5 from-group">
          <label for="name"
            >Name
            <input type="text" class="form-control" id="name" name="name"
            ngModel
            required/>
          </label>
        </div>
        <div class="clo-sm-2 from-group">
          <label for="amount"
            >Amount
            <input
              type="number"
              class="form-control"
              id="amount"
              name="amount"
              ngModel
              required
              pattern="^[1-9]+[0-9]*$"
            />
          </label>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" class="btn btn-success"
            [disabled]="!f.valid"
            >
             {{ editMode? 'Update': 'Add'}}
            </button>
            <button type="button" class="btn btn-danger"(click)="onDelete()" *ngIf="editMode">Delete</button>
            <button type="button" class="btn btn-primary"(click)="onClear()">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
